.about {
  padding-top: 58px;
  padding-bottom: 47px;
  background: #F7F7F7;

  @include breakpoint(medium) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include breakpoint(large) {
    padding-top: 135px;
    padding-bottom: 60px;
  }

  &__container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }

  &__border {
    padding-left: $padding-left;
    padding-right: $padding-right;
    @include breakpoint(medium) {
      padding-left: $padding-left-tablet;
      padding-right: $padding-right-tablet;
    }
  }

  &__box {
    border: 5px solid red;
    position: relative;
    padding-bottom: 62px;
    z-index: 1;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint(large) {
      max-width: 100%
    }

  }

  &__title-top {
    background-color: #F7F7F7;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 20px;
  }

  &__title-top-two {
    background-color: #F7F7F7;
    width: 71%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 20px;
  }

  &__title {
    position: relative;
    bottom: 19px;
    margin-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__content-bottom {
    padding-left: $padding-left;
    padding-right: 18px;
    margin-bottom: 18px;
  }

  &__content {
    display: block;
    @include breakpoint(large) {
      display: none;
    }
  }

  &__content-big {
    display: none;
    @include breakpoint(large) {
      display: block;
      width: 73%;
      margin-left: auto;
      margin-right: auto;
      background-color: #F7F7F7;
      position: relative;
      bottom: 40px;
      z-index: 10;
    }
  }

  &__btn {
    position: relative;
    margin-top: -61px;
    z-index: 100;
    padding-left: 36px;
    padding-right: 36px;
    font-size: 18px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(large) {
      max-width: 430px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -45px;
    }
  }

  &__box-one {

    p + p {
      margin-top: 1em;
    }

    @include breakpoint(large) {
      width: 65%;
      margin-top: -18px;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__btn-text {
    display: block;
    outline: 10px solid #F7F7F7;
    outline-offset: 0px;
  }
}

.with-arrows {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &.arrow-left {
    &::before {
      height: 50px;
      width: 30px;
      left: 0;
      top: -55px;
      background-image: url('~img/box-arrow-1.png');
      background-size: cover;
      background-repeat: no-repeat;

      @include breakpoint(large) {
        height: 100px;
        width: 60px;
        left: -90px;
      }
    }
  }

  &.arrow-right {
    &::after {
      width: 30px;
      height: 50px;
      top: auto;
      right: 0;
      background-image: url('~img/box-arrow-2.png');
      bottom: -25px;
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(-45deg);

      @include breakpoint(large) {
        width: 60px;
        height: 100px;
        bottom: -90px;
        right: 80px;
        transform: rotate(-15deg);
      }
    }

  }

}

