.article {
  padding-top: 44px;
  padding-bottom: 25px;

  @include breakpoint(medium) {
    padding-top: 60px;
    padding-bottom: 60px;
  }


  @include breakpoint(large) {
    padding-top: 70px;
    padding-bottom: 74px;
  }


  &__border {
    padding-left: $padding-left;
    padding-right: $padding-right;
    
    @include breakpoint(medium) {
      padding-left: $padding-left-tablet;
      padding-right: $padding-right-tablet;
    }
    
  }

  &__container {
    max-width: 710px;
    margin-right: auto;
    margin-left: auto;
  }

  &__title {
    margin-bottom: 45px;
    @include breakpoint(large) {
      margin-bottom: 40px;
    }
  }

  &__btn {
    display: block;
    @include breakpoint(large) {
      max-width: 360px;
      margin-left: auto;
      margin-right: auto;
    }
  }


  &__box-one {
    margin-bottom: 19px;
    
    p + p {
      margin-top: 1em;
    }
    
    @include breakpoint(medium) {
      margin-bottom: 40px;
    }
    
    @include breakpoint(large) {
      margin-bottom: 73px;
    }
  }
}
