.hero {
  position: relative;

  padding-top: 53px;
  padding-bottom: 72px;


  @include breakpoint(xxxlarge) {
    padding-top: 34px;
    padding-bottom: 50px;

  }


  &__sub {
    padding-bottom: 52px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }


  &__container {
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
  }

  &__content {
    z-index: 2;
  }

  &__background {
    position: absolute;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
  }

  &__border {
    padding-left: 30px;
    padding-right: 30px;


  }

  &__logo {
    width: 168px;
    height: 47px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(~img/logo2.png);
    margin-bottom: 20px;
    @include breakpoint(large) {
      width: 200px;
      height: 58px;
    }
  }

  &__mouse {
    display: none;
    @include breakpoint(large) {
      display: block;
      height: 45px;
      width: 30px;
      margin-right: auto;
      margin-left: auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(~img/mouse.png);
    }
  }

  &__contact-tel {
    padding-top: 8px;
    font-weight: 700;
    font-size: 16px;
    color: white;
    transition: color 0.1s ease;

    &:hover {
      color: $color;
    }
  }


  &__top-box {
    display: flex;
    justify-content: center;
    @include breakpoint(medium) {
      margin-bottom: 45px;
    }
    @include breakpoint(large) {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-bottom: 86px;
    }

  }

  &__contact-box {
    display: none;
    @include breakpoint(large) {
      display: flex;
    }
  }

  &__title {
    margin-bottom: 22px;
    max-width: rem(500);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(medium) {
      max-width: 100%;
    }


    @include breakpoint(large) {

      margin-bottom: 48px;
    }
  }


  &__phone {
    position: relative;
    top: 8px;

    background-repeat: no-repeat;
    background-image: url(~img/phone.png);
    height: 20px;
    width: 20px;
    margin-right: 8px;
  }

  &__lead-wrapper {
    max-width: rem(370);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(large) {
      max-width: rem(780);
    }
  }

  &__article {
    margin-bottom: 37px;
    padding: 0 rem(20);

    @include breakpoint(large) {

      margin-left: auto;
      margin-right: auto;
      margin-bottom: 72px;
    }
  }

  &__btn {
    @include breakpoint(large) {
      height: 50px;
    }
  }

  &__contact-btn-text {
    color: $color;
    background-color: white;
    padding: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 30px;
    transition: background-color 0.15s ease, color 0.15s ease;

    &:hover {
      background-color: $color;
      color: #ffffff;

    }
  }

  &__form-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 32px;
    display: block;
    max-width: rem(550);
    margin-left: auto;
    margin-right: auto;
    min-height: 255px;
    //max-height: 255px;
    
    @include breakpoint(large) {
      max-width: 860px;
      margin-left: auto;
      margin-right: auto;
      padding: 25px 30px 25px;
      margin-bottom: 45px;
      min-height: 183px;
    }


    form {
      display: block;
      @include breakpoint(large) {
        display: flex;
        justify-content: space-between;
      }
    }

    input {
      width: 100%;
      margin-bottom: 14px;
      display: block;
      padding: 0 rem(20);
      border: 1px solid transparent;

      &::placeholder {
        font-size: rem(14);
      }

      &:focus {
        outline: none;
        border: 1px solid $color;
      }

      @include breakpoint(large) {
        display: flex;
        width: 30%;
        margin-bottom: 0 !important;
      }
    }

    .nf-error-msg {
      text-align: center;
      font-size: 14px;
    }

  }

  &__arrow-left {
    position: absolute;
    background: url('~img/arrow-2.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 66px;
    height: 80px;
    top: 3px;
    left: -22px;
    @include breakpoint(large) {
      width: 86px;
      height: 90px;
      top: 25px;
      left: -142px;
      transform: rotate(-45deg);
    }
  }

  &__arrow-left-sub {
    position: absolute;
    background: url('~img/arrow-2.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 66px;
    height: 80px;
    bottom: 225px;
    left: -22px;
    @include breakpoint(smedium) {
      bottom: 125px;
    }
    @include breakpoint(large) {
      width: 86px;
      height: 90px;
      top: 25px;
      left: -142px;
      transform: rotate(-45deg);
    }
  }


  &__arrow-right-sub {
    position: absolute;
    background: url('~img/arrow-1.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 72px;
    height: 95px;
    top: -192px;
    right: -24px;
    @include breakpoint(smedium) {
      top: -30px;
      right: -44px;
      transform: rotate(25deg); 
    }
    @include breakpoint(large) {
      width: 100px;
      height: 125px;
      top: 220px;
      right: -40px;
      transform: rotate(45deg)
    }
  }


  &__arrow-right {
    position: absolute;
    background: url('~img/arrow-1.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 72px;
    height: 95px;
    top: -52px;
    right: -24px;
    @include breakpoint(large) {
      width: 100px;
      height: 125px;
      top: -12px;
      right: -154px;
      transform: rotate(45deg)
    }
  }

  &__progress-box{
    padding-top:10px;
    width:100%;
    max-width:1170px;
    margin-left:auto;
    margin-right:auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom:30px;
    @include breakpoint(large) {
      display: flex;

    }
  }

  &__progress-text{
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    margin-bottom:10px;
    text-transform: uppercase;
    color: #FFFFFF;
    @include breakpoint(large) {
      font-size: 15px;
      margin-bottom:15px;
      height:20px;
      padding-top:10px;
    }
  }

  &__progress-text--red{
    color:red;
  }

  &__progress-bar{
    background: rgba(255, 255, 255, 0.3);
    height:20px;
    width: 90%;
    margin-right:10px;
    @include breakpoint(large) {
      max-width:715px;
    }
  }

  &__bar{
    display:flex;
    align-items: center;
    @include breakpoint(large) {
      width:66%;
      display:flex;
    }
  }

  &__progress-level{
    background-image: linear-gradient(45deg, #ff0000 25%, #ed5c5c 25%, #ed5c5c 50%, #ff0000 50%, #ff0000 75%, #ed5c5c 75%, #ed5c5c 100%);
    background-size: 30px 30px;
    height:20px;
    width:66%;
    animation: move 2s linear infinite;
  }

  &__progress-timer{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 2;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    min-width: 40px;
    @include breakpoint(large) {
      font-size: 18px;
      min-width: 60px;
    }
  }

  &__form-box-sub {
    background: rgba(255, 255, 255, 0.1);
    padding: 32px;
    padding-top: 38px;
    display: block;
    max-width: rem(550);
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(large) {
      max-width: 610px;
      margin-left: auto;
      margin-right: auto;
      padding: 30px;
      margin-bottom: 45px;
    }


    form {
      display: block;
      @include breakpoint(large) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    input {
      width: 100%;
      margin-bottom: 14px;
      height: 50px;
      display: block;
      padding: 0 rem(20);
      border: 1px solid transparent;

      &::placeholder {
        font-size: rem(14);
      }

      &:focus {
        outline: none;
        border: 1px solid $color;
      }

      @include breakpoint(large) {
        display: flex;
        width: 49%;
        margin-bottom: 15px;
      }
    }

  }

  &__btn-sub {
    width: 100%;

    span {
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }

  &__content-sub {
    padding-top: 0px;
  }

  &__top-box-sub {
    margin-bottom: 10px;
  }

  &__article-sub {
    @include breakpoint(large) {
      max-width: 665px;
      text-align: left;
    }
  }
}




#nf-form-3-cont,
#nf-form-1-cont {
  .nf-form-content {
    display: flex;
    width: 100%;
  }

  nf-fields-wrap {
    width: 100%;
    display: block;
    @include breakpoint(large) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .nf-form-title {
    display: none;
  }

  .ninja-forms-req-symbol {
    display: none;
  }

  .nf-field {
    margin-bottom: 0px;
  }

  .nf-form-layout {
    
    @include breakpoint(large) {
      
      
    }


    nf-field:nth-of-type(1) {
      @include breakpoint(large) {
        width: 49%;
      }
    }

    nf-field:nth-of-type(2) {
      @include breakpoint(large) {
        width: 49%;
      }
    }

    nf-field:nth-of-type(3) {
      @include breakpoint(large) {
        width: 100%;        
      }
    }

    form {
      display: block;

      .nf-before-form-content {
        display: none;
      }

      .nf-field-container {
        margin-bottom: 0px;
      }

      .nf-before-field {
        display: none;
      }

      #nf-field-10,
      #nf-field-1,
      #nf-field-11,
      #nf-field-2 {
        margin-bottom: 13px!important;
      }

      #nf-field-12,
      #nf-field-4 {
        height: auto;
        width: 100%;
        background-color: $color;
        text-transform: uppercase;
        font-family: $font-family;
        font-weight: 600;
        font-size: 12px;
        white-space: normal;
        word-wrap: break-word;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        @include breakpoint(xsmall) {
          font-size: 14px;
          min-height: 50px;
        }
      }

      .nf-field-label {
        display: none;
      }
    }
  }

  .nf-response-msg {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }

}



@keyframes move {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 120px;
  }
}







