
.offer{
    background-color:#F7F7F7;;
    padding-top:40px;
    padding-bottom:32px;

    @include breakpoint(medium) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include breakpoint(large) {
        padding-top:80px;  
        padding-bottom:93px;          
    }

    &__border{
        padding-left:$padding-left;
        padding-right:$padding-right;
        
        @include breakpoint(medium) {
            padding-left: $padding-left-tablet;
            padding-right: $padding-right-tablet;
        }
    }

    &__container{
        max-width:1170px;
        margin-left:auto;
        margin-right:auto;
    }

    &__title{
        width:80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:36px;
        @include breakpoint(medium) {
            margin-bottom: 74px;       
        }
    }

    &__tiles-box{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__tile{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        background-color:white;
        width:48%;
        padding-top:24px;
        padding-bottom:24px;
        padding-left:10px;
        padding-right:10px;

        @include breakpoint(medium) {
            width:23%;
        }

        @include breakpoint(large) {
            width:23%;
            padding-top:50px;
            padding-left:27px;
            padding-right:27px;
        }
    }


    &__tile:nth-last-of-type(4){
    margin-bottom: 19px;
    @include breakpoint(medium) {
        margin-bottom: 0px; 
    }
    }
    &__tile:nth-last-of-type(3){
    margin-bottom: 19px;  
    @include breakpoint(medium) {
        margin-bottom: 0px;  
    }
    }
   
    &__tile-icon{
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 65px;

        @include breakpoint(large) {
            height: 85px;
            margin-bottom:13px;
        }
    }

    &__tile-icon-box{
         width:100%;
    }

    &__tile-text{
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        height:50%;
        padding-top:23px;
        line-height: 1.27;
        text-align: center;
        @include breakpoint(large) {
            font-size: 16px; 
            padding-bottom:27px;
        }
    }
}






















