.partners {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.partners__title {
  font-size: rem(12);
  text-transform: uppercase;
  margin-bottom: rem(20);
  color: #797979;
}


.partners__sub{
  height:110px;
  @include breakpoint(large) {
    height:147px;
  }
}

.partners__slider {
  
  .slick-track {
    height: 50px;
  }
  .slick-slide {
    height: 100%;
    
    > div {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 50px;
    }
  }
  
  .partners__slider-item {
    max-width: 100px;
    max-height: 50px;
    object-fit: contain;
    
    //max-width: 150px;
    //max-height: 100px;
    //object-fit: contain;    
  }
  
}


.partners--three {
  padding-bottom: rem(30);
}

.partners--four {
  padding-top: rem(35);
  padding-bottom: rem(35);
}

