.problems {
  padding-top: 45px;
  padding-bottom: 55px;
  position: relative;
  @include breakpoint(large) {
    padding-top: 77px;
    padding-bottom: 113px;
  }

  &__background {
    position: absolute;
    background-color:green;
    background-size:cover;
    height:100%;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &__title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    color: white;
    @include breakpoint(large) {
      margin-bottom: 14px;
    }
  }

  &__border {
    padding-left: $padding-left;
    padding-right: $padding-right;
    @include breakpoint(medium) {
      padding-left: $padding-left-tablet;
      padding-right: $padding-right-tablet;        
    }
  }

  &__container {
    //max-width: 710px;
    margin-right: auto;
    margin-left: auto;
  }

  &__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 1.4;
    text-align: center;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 23px;
    color: white;
    @include breakpoint(large) {
      font-size: 35px;
      letter-spacing: 0.4px;
      margin-bottom: 58px;
    }
  }

  &__box-one {
    @include breakpoint(medium) {
      max-width: 710px;
      margin-left: auto;
      margin-right: auto;
    }
  }

}



























