.a-title {
  font-family: $font-family;
  text-transform: uppercase;
  text-align: center;
  color: white;
  line-height: 1.29;
  font-size: 30px;
  font-weight: 800;

  @include breakpoint(medium) {
    font-size: 45px;
  }

  @include breakpoint(large) {
    font-size: 64px;
  }
}

.a-subtitle {
  color: white;
  text-align: center;
  font-family: $font-family;
  line-height: 1.5;

  @include breakpoint(medium) {
    font-size: 18px;
  }
  @include breakpoint(large) {
    font-size: 20px;
  }
}

.a-btn {
  background-color: $color;
  font-family: $font-family;
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 30px;
  line-height: 1.5;
  cursor: pointer;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease;
  border: 1px solid transparent;

  @include breakpoint(large) {
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 0.005px;
  }

  &:hover {
    background-color: #ffffff;
    color: $color;
    border: 1px solid $color
  }

}

.a-title-two {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.29;
  @include breakpoint(large) {
    font-size: 48px;
  }
}

.a-title-two--white {
  color: white;
}

.a-title-two--red {
  color: red;
}

.a-article {
  font-weight: normal;
  font-size: 17px;
  line-height: 1.8;
  @include breakpoint(large) {
    line-height: 2.22;
    font-size: 18px;
  }
}

.a-article--white {
  color: white;
}


.a-btn-two {
  background-color: $color;
  font-family: $font-family;
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  padding: 20px 40px;
  line-height: 1.5;
  border: 1px solid transparent;
  cursor: pointer;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease;

  @include breakpoint(large) {
    padding-left: 30px;
    line-height: 1.3;
    padding-right: 30px;
    letter-spacing: 0.005px;
    font-size: 18px;
  }

  &:hover {
    background-color: #ffffff;
    color: $color;
    border: 1px solid $color
  }
}
